# python
__pycache__/
*.pyc

# env
.env

# mac/win junk
.DS_Store
Thumbs.db

# python venv (если вдруг создадите локально)
.venv/
venv/

# certs (если не хотите их коммитить)
proxy/certs/*.pem

# ipynb_checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
